* {
    --nav-height: 3rem;
    --max-height: 100vh;
    --max-width: 100vw;
    --img-nav-height: calc(var(--nav-height) - 1.5rem);
    --w11-logo-gradient: linear-gradient(135deg, #6bd3ff, #0079d4);
    --bg-color-search: #1e202c;
    --border-color-search: #292b41;
    --bottom-border-color-search: #9dcbe3;
    --placeholder-color-search: #a2a5ae;
    --glass-white-color: rgba(255, 255, 255, 0.1);
    --footer-start-height: 4em;
    --sun-gradient: linear-gradient(135deg, #ffef80, #ecaa00);
    font-family: poppins, monospace;
}

body {
    height: var(--max-height);
    width: var(--max-width);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(./images/1dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition-duration: 0.5s;
}

body {
    display: grid;
    grid-template-columns: minmax(700px, 1fr) 1fr;
}

nav {
    background: linear-gradient(rgba(0, 0, 85, 0.075), transparent, rgba(0, 0, 85, 0.192)), rgba(32, 32, 32, .50);
    height: var(--nav-height);
    width: var(--max-width);
    position: fixed;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 1em rgba(0, 0, 255, 0.027);
    backdrop-filter: blur(5em);
    border-top: 1px solid rgba(255, 255, 255, 0.075);
}

nav #nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
}

#first-container,
#second-container {
    display: flex;
    height: 100%;
    width: auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

#second-container {
    gap: 0rem !important;
}

#first-container div svg,
#first-container div img,
#second-container div svg,
#second-container div img {
    aspect-ratio: 1;
    height: var(--img-nav-height);
    width: auto;
    border-radius: 0.1em;
}

#first-container {
    margin: auto;
}

#second-container #sistema-info div {
    display: grid;
    place-content: center;
}

#sistema-info {
    height: 80%;
    gap: 0.5em;
    padding: 0 0.5em;
    border-radius: 0.5em;
    transition-duration: 0.5s;
    color: white;
    margin-right: 0.5em;
    display: grid;
    grid-auto-flow: column;
}

#sistema-data {
    height: 80%;
    padding: 0 1em !important;
    color: white;
    margin-right: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 0.65em;
    align-items: flex-end;
    justify-content: center;
}

#sistema-info:hover,
#sistema-data:hover {
    background-color: rgba(255, 255, 255, 0.075);
    transition-duration: 0.5s;
}

#sistema-info div {
    margin: auto;
}

#first-container div {
    aspect-ratio: 1;
    border-radius: 0.1rem;
    transition-duration: 0.2s;
    height: 85%;
    display: grid;
    place-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.0);
}

#second-container div svg {
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transform: scale(0.7);
}

#first-container div:hover {
    background-color: var(--glass-white-color);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
}

#w11-logo {
    border-radius: 0.2rem;
    fill: white;
}

#first-container div:nth-child(2) svg {
    color: #eff7ff;
}

#w11-start-section {
    color: white;
    align-self: center;
    justify-self: center;
}

#windows-logo {
    filter: brightness(1.6);
}

#w11-start-section {
    display: grid;
    backdrop-filter: blur(5em);
    transition-duration: 0.5s;
    width: 40em;
    border-radius: 1em;
    position: fixed;
    bottom: calc(-150%);
    overflow: hidden;
    border: 2px solid var(--glass-white-color);
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}

.padding-start:not(#footer-start-section) {
    padding: 0 2em 1em 2em;
}

#cerca-input-start {
    background-color: var(--bg-color-search);
    padding: 0 1em;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 3em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--border-color-search);
    border-bottom: 2px solid var(--bottom-border-color-search);
}

#cerca-input-start::placeholder {
    color: var(--placeholder-color-search);
}

.input-div-start {
    padding: 2em 2em 0 2em;
}

.app-container-header {
    font-size: 0.95em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1.5em 1em;
    align-items: center;
}

.app-container-header span {
    filter: drop-shadow(0 0 1em white);
}

.app-container-header div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em 0.2em 0.2em 0.5em;
    border-radius: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    transition-duration: 0.2s;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-container-header div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
    border-top: none;
}

.app-container-header div svg {
    padding: 0 0 0 0.5em;
    fill: white !important;
}

#second-app-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
}

#second-app-container div {
    aspect-ratio: 1;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    cursor: pointer;
}

#second-app-container div:hover {
    background-color: var(--glass-white-color);
    transition-duration: 0.1s;
}

#second-app-container img {
    aspect-ratio: 1;
    width: 2.5rem;
    margin: 0.1em;
}

#second-app-container span {
    font-size: 0.7em;
    font-weight: lighter;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

#second-app-container>div:active img {
    transform: scale(0.8);
    transition-duration: 0.3s;
}

#second-app-container>div img {
    transition-duration: 0.3s;
}

.on-visible-start {
    bottom: calc(var(--nav-height) + 1em) !important;
    transition-duration: 0.5s;
}

label input {
    display: none;
}

#not-mobile-friendly {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    place-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    backdrop-filter: blur(2em);
    gap: 1em;
}

#not-mobile-friendly #titolo-errore {
    font-size: 6vw;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    font-weight: bolder;
}

#dettagli-errore {
    font-size: 2.5vw;
}

#article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#article-container img {
    aspect-ratio: 1;
    width: 2.5em;
    padding: 0.3em 1em;
}

#article-container>div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    align-items: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

#article-container>div:hover {
    background-color: var(--glass-white-color);
    transition-duration: 0.5s;
}

#article-container>div>div:nth-child(2)>div:nth-child(1) {
    font-size: 0.9em;
}

#article-container>div>div:nth-child(2)>div:nth-child(2) {
    font-size: 0.8em;
    margin-top: 0.2em;
    opacity: 0.7;
}

#footer-start-section {
    height: var(--footer-start-height);
    backdrop-filter: blur(10em);
    background-color: rgba(0, 0, 0, 0.514);
    outline: var(--glass-white-color) solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
    align-items: center;
}

.nome-utente-start-section,
.spegni-pc-start-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    transition-duration: 0.2s;
}

.nome-utente-start-section:hover,
.spegni-pc-start-section:hover {
    background-color: var(--glass-white-color);
    border-radius: 0.5em;
    transition-duration: 0.5s;
}

.nome-utente-start-section svg {
    height: 1.7em;
    width: auto;
    fill: white !important;
}

.spegni-pc-start-section svg {
    height: 1.7em;
    width: auto;
    fill: white !important;
}

#first-container div:active>img,
#first-container div:active>svg {
    transform: scale(0.5);
    transition-duration: 0.5s;
}

#first-container img,
#first-container svg {
    transition-duration: 0.5s;
}

#first-container>div[title]:hover::after,
#sistema-info>div[title]:hover::after,
#sistema-data[title]:hover::after {
    content: attr(title);
    color: white;
    position: absolute;
    transform: translateY(calc(-100% - 1em));
    padding: 0.2em 0.5em;
    border: 2px solid var(--glass-white-color);
    border-radius: 0.5em;
    font-size: 0.9em;
    background-color: rgba(0, 0, 68, 0.623);
    transition-duration: 0.5s;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(calc(-100% - 3em));
    }
    to {
        opacity: 1;
    }
}

#sistema-info>div[title]:hover::after {
    transform: translateY(calc(-100% - 2em));
    font-size: 0.6em;
}

#widget-section {
    backdrop-filter: blur(1em);
    background-color: rgba(0, 1, 63, 0.26);
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 1em 0 calc(var(--nav-height) + 1em) 1em;
    border-radius: 1em;
    color: white;
    padding: 1em;
    border: 2px solid var(--glass-white-color);
    transition-duration: 0.5s;
    transform: translateX(calc(-100% - 5em));
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}

#widget-section {
    display: grid;
    grid-template-areas: "meteo calendario" "galleria calendario" "galleria video" "todo todo";
    gap: 1em;
    grid-auto-columns: 1fr;
    padding: 2em;
}

.widget {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition-duration: 0.5s;
}

.widget:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

#meteo-widget {
    grid-area: meteo;
}

#calendario-widget {
    grid-area: calendario;
}

#galleria-widget {
    grid-area: galleria;
}

#video-widget {
    grid-area: video;
}

#todo-widget {
    grid-area: todo;
}

.widget-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.widget-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#meteo-widget-content div {
    display: flex;
    flex-direction: column;
}

#meteo-widget-content div span:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
}

#meteo-widget-content div span:nth-child(2) {
    font-size: 1em;
    opacity: 0.7;
}

#meteo-widget-content img {
    height: 4em;
    width: auto;
}

#calendario-widget-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#calendario-widget-content-header div svg {
    height: 1.5em;
    width: auto;
    fill: white !important;
}

#calendario-widget-content-body-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    text-align: center;
    font-size: 0.8em;
    opacity: 0.7;
}

#calendario-widget-content-body-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    text-align: center;
    font-size: 0.9em;
}

#galleria-widget-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#galleria-widget-content img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

#video-widget-content video {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

#todo-widget-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#todo-widget-content-header div svg {
    height: 1.5em;
    width: auto;
    fill: white !important;
}

#todo-widget-content-body-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#todo-widget-content-body-item input {
    height: 1.5em;
    width: 1.5em;
}

#todo-widget-content-body-item label {
    font-size: 0.9em;
}

#notification-section {
    backdrop-filter: blur(1em);
    background-color: rgba(0, 1, 63, 0.26);
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 1em 1em calc(var(--nav-height) + 1em) 0;
    border-radius: 1em;
    color: white;
    padding: 1em;
    border: 2px solid var(--glass-white-color);
    transition-duration: 0.5s;
    transform: translateX(calc(100% + 5em));
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}

.notification-on {
    transform: translateX(0) !important;
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notification-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.notification-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition-duration: 0.5s;
}

.notification-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

.notification-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notification-item-body {
    font-size: 0.9em;
}

#search-content {
    display: grid;
    grid-template-rows: auto 1fr;
    backdrop-filter: blur(5em);
    transition-duration: 0.5s;
    width: 40em;
    border-radius: 1em;
    position: fixed;
    bottom: calc(-150%);
    overflow: hidden;
    border: 2px solid var(--glass-white-color);
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.search-body {
    padding: 0 2em 2em 2em;
}

#search-input {
    background-color: var(--bg-color-search);
    padding: 0 1em;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 3em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--border-color-search);
    border-bottom: 2px solid var(--bottom-border-color-search);
}

#search-input::placeholder {
    color: var(--placeholder-color-search);
}

.search-results {
    margin-top: 2em;
    font-size: 1.5em;
}

.windows-tab {
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5em);
    border: 2px solid var(--glass-white-color);
    border-radius: 1em;
    overflow: hidden;
    width: 40em;
    height: 30em;
    top: 10%;
    left: 10%;
    transition-duration: 0.5s;
}

.topnavbar-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.514);
}

.navbar-left-tab {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

#tab-image {
    height: 2em;
    width: auto;
}

.nome-tab {
    font-size: 1em;
    font-weight: bold;
}

.navbar-right-tab {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.navbar-right-tab div {
    display: grid;
    place-content: center;
    padding: 0.3em;
    border-radius: 0.5em;
    transition-duration: 0.2s;
}

.navbar-right-tab div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 0.5s;
}

.navbar-right-tab div svg {
    height: 1.5em;
    width: auto;
    fill: white !important;
}

.coming-soon-tab {
    display: grid;
    place-content: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
}

#div {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5em);
    border: 2px solid var(--glass-white-color);
    border-radius: 0.5em;
    transition-duration: 0.5s;
}

.pc-off {
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 999;
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    #not-mobile-friendly {
        display: grid;
    }
}